
body {
  font-family: system, -apple-system, 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-size: 18px;
}

.header {
  padding: 3rem;
  border: 0.5rem solid black;
  margin: 0;
}

.header.unknown {
  background-color: #00BFFF;
  border-color: #008FFF;
}

.output {
  padding: 3rem;
  background-color: #f3f3f3;
}

.testCountView, .summaryEndView {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.5em;
  line-height: 1.5;
  border-left: 1px solid black;
}

.packageView {
  display: block;
  margin: 0.2em;
}

.packageView--skipped {
  display: none;
}
